node_modules/
dist/
lpop
!bin/lpop
.env*
!.env.example

.vscode/

# Rust
target/
Cargo.lock
**/*.rs.bk

# OS
.DS_Store
Thumbs.db

# Test artifacts
*.tmp
temp/

.history/

# Platform binaries
packages/lpop*/lpop*

coverage/